
{% extends "../base.html" %}
{% load static %}
{% block title %}Livraria Aquaflora | Conta Desativada{% endblock %}

{% block conteudo %}

<main class="pt-5">
    <div class="container" style="max-width: 1600px"> 
        <div class="profcard perfilheader row justify-content-center align-items-center">
        <h2>Conta desativada.</h2>
        <p>Sua conta foi desativada.
        <p>
        <a class="btn btn-primary btn-block" role="button" href="/">Voltar para o site.</a>
        </p> 

        </div>
    </div>
</main>




{% endblock %}